:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
}

/*цвет основного текста #212121;
вторичный цвет текста #757575
белый цвет текста #FFFFFF
цвет акцента #2196F3
основной цвет макета  #FFFFFF
вторичный цвет макета #F5F4FA
цвет подвала #2F303A*/

ul {
  list-style: none;
}
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}
a {
  text-decoration: none;
}

.body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}

h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
}

/*header*/

.nav-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.nav-logo .accent {
  color: var(--primary-text-color);
}
.nav-logo:focus {
  color: var(--accent-color);
}

.nav a:hover,
.nav a:focus {
  color: var(--accent-color);
}

.contacts a {
  color: var(--secondary-text-color);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

/*Main */

.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 13.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: grey;
}

.hero a {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
}
.hero a:hover,
.hero a:focus {
  color: rgb(255, 255, 255);
}

/*features*/

.features-list p {
  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 1.7;
}

.features-work p {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
}
.features-work a:hover,
.features-work a:focus {
  color: var(--accent-color);
}

/*section-team*/
.section-team {
  background-color: #f5f4fa;
}

.section-team h3 {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-team p {
  font-weight: 400;
  text-align: center;
  color: var(--secondary-text-color);
  font-size: 16px;
}

.socials li {
  display: inline;
}

.socials a:hover,
.socials a:focus {
  background-color: var(--accent-color);
}

/*aside*/

.aside li {
  display: inline;
}

.aside a:hover,
.aside a:focus {
  background-color: var(--accent-color);
}

/*footer*/

.footer {
  background-color: #2f303a;
}
.footer-link {
  color: var(--accent-color);
  font-size: 22px;
  font-family: raleway, sans-serif;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.footer-link .accent {
  color: #ffffff;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-socials li {
  display: inline;
}

.footer-list {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-list-adress {
  color: #ffffff;
}
.footer-list-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer h3 {
  color: #ffffff;
}
.footer-socials li {
  display: inline;
}
.footer-socials a:hover,
.footer-socials a:focus {
  background-color: var(--accent-color);
}

.footer-button {
  color: white;
  background-color: var(--accent-color);
}
.footer-form li:hover,
.footer-form li:focus {
  background-color: var(--accent-color);
}
.footer .text {
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

/*----------------------------------PORTFOLIO---------------------------------*/

.title-portf {
  visibility: hidden;
}

.list-button li {
  display: inline;
}
.list-button button {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.list-button :hover,
.list-button :focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.list-content p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}
